<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle Asignatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="asignatura">
    <ion-card-header>
      <ion-card-title>{{ asignatura.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Sección: {{ asignatura.seccion }}</p>
      <p>descripcion: {{asignatura.descripcion}}</p>
      <p>Carrera: {{ carrera }}</p>
      <br>

      <ion-button *ngIf="isProfesor" (click)="generarQRCode()">Generar QR</ion-button>

      <ion-img *ngIf="qrCodeImageUrl" [src]="qrCodeImageUrl"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
