<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de Asignatura</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-card *ngIf="asignatura">
    <ion-card-header>
      <h3>asignatura: {{ asignatura.nombre }}</h3>
    </ion-card-header>
    <ion-card-content>
      <p>Sección: {{ asignatura.seccion }}</p>
      <p>descripcion: {{asignatura.descripcion}}</p>
      <p>Carrera: {{ carrera }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
  
