@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
ion-card {
    font-family: "SUSE", sans-serif;
    background-size: cover;
    background-color: #125cbd;
    background-position: center center;
    background-repeat: no-repeat;
    width: auto;
    height: 680px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    ion-card-header {
        text-align: center;
        font-size: 20px;
        margin-top:90px;

        img{
            height: 100px;
            margin-top: 50px;
            width: 100px;
            align-self: center;
            border-radius: 50%;
        }
    }
    p{
        text-align: center;
    }
}

ion-header{
    background-color: #125cbd;
}

ion-item {
    margin-bottom: 15px; 
    --inner-padding-start: 0;
    --inner-padding-end: 0;
}

ion-input {
    color: #0f0f0f;
    --border-color: #153763;
    --background: #286bc3;
    --padding-top: 15px;
    --padding-bottom: 1px;
    font-size: 15px;
    height: auto; 
}
ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }