ion-card{
    align-items: center;
    border-radius: 8%;
    ion-button{
        margin-left: 15px;
    
    }
    ion-card-content{
        margin-bottom: 20px;
        margin-top: 0px;
        height: 40px;
    }
}