<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card *ngIf="nombreUsuario" color="dark" [routerLink]="['/perfil']">
    <ion-card-header>
      <h2>Bienvenido, {{ nombreUsuario }} <ion-icon name="add-circle-outline" ></ion-icon></h2>
    </ion-card-header>
  </ion-card>

  <ion-item lines="none" (click)="toggleAsignaturas()">
    <ion-label>Ver Asignaturas</ion-label>
    <ion-icon slot="end" [name]="asignaturasExpandido ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
  </ion-item>

  <ion-list *ngIf="asignaturasExpandido">
    <ion-item *ngFor="let asignatura of asignaturasProfe"[routerLink]="['/detalle-asign', asignatura.id]">
      <ion-label>
        <h2>{{ asignatura.nombre }}</h2>
        <p>Sección: {{ asignatura.seccion }}</p>
      </ion-label>
    </ion-item>
    
  </ion-list>

</ion-content>
