<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text *ngIf="asignatura">
    <p>Asignatura: {{ asignatura.nombre }}</p>
    <p>Sección: {{ asignatura.seccion }}</p>
  </ion-text>

  <form (ngSubmit)="registrarAsistencia()">
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" [(ngModel)]="correoUsuario" name="correo" required disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" [disabled]="!asignatura || !uid" (click)="registrarAsistencia()">
      Registrar Asistencia
    </ion-button>
  </form>
</ion-content>

